* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: burlywood;
  font-family: 'Oswald', sans-serif;
}
h1{
  color:rgb(42, 42, 42) ;
  margin-top: 5rem;
  font-size: 3rem;
  text-shadow: 4px 4px 4px rgba(89,181,113,0.6);

}
.section{
  padding: 25px 20px;
}

.container {
  background-color: black;
  width: fit-content;
  margin-top: 5rem;
  border-radius: 10px;
  box-shadow: 9px 10px 17px 1px rgba(0,0,0,0.67);
}
.btn1{
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
  outline: none;
  border: none;
  background: rgb(32, 32, 32);
  padding: 1rem 1.7rem;
  margin: 5px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.btn-o {
  color: white;
  outline: none;
  border: none;
  background: rgb(32, 32, 32);
  margin: 10px;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 1.7rem;
  border-radius: 50%;

}
.clear {
  padding: 1rem 0.8rem;
  border-radius: 50%;

}

input {
  width: 90%;
  background: none;
  font-size: 2rem;
  outline: none;
  border: none;
  color: rgb(184, 255, 184);
  padding: 25px 0px;
}

.btn:hover{
  background-color: rgb(184, 255, 184);
  color: gray;
}
.btn-o:hover{
  background-color: rgb(184, 255, 184);
  color: gray;
}

.clear1{
  padding: 1rem 1rem;
}

.z{
  padding: 1rem ;
}
.m{
  padding: 1rem 1.3rem;
}
.input{
  margin: 0 auto;
  width: 100%;
  background-color: rgb(56, 56, 56);
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  height: 25%;

}
.c{
  color: gray;
  background-color: rgb(184, 255, 184);
}
.c:hover{
  background-color: rgb(56, 56, 56);
}

@media only screen and (max-width:425px){
.btn{
  font-size: 1rem;
  padding: 0.8rem 1rem;
}
.btn-o{
  font-size: 1rem;
  padding: 0.8rem 1rem
}
.container{
  border-radius: 5px;
margin-right: 25px;
margin-left: 25px;
}
.input{
  border-radius: 5px;
}
}